<div class="container mt-5 pricelist">
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Service</th>
        <th scope="col">Service Cost</th>
        <th scope="col">Available Discount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of pricing">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.price}}</td>
        <td>{{item.available}}</td>
      </tr>
    </tbody>
  </table>
</div>