<div class="landing">
<div class="container h-100">
        <div class="row justify-content-end h-100 align-items-center">
          <div class="col-lg-6">
            <div class="d-none d-lg-block wrapperlogo">
              <img src="../assets/images/cleaning_service.png" class="landinglogo" width="300" alt="logo">
            </div> 
          <div class="col-lg-12 col-sm-8 float-sm-right float-lg-none text-right text-md-left landingheading">
            <h1 class="mb-2">#1 Cleaning Company in 2020</h1>
            <h2>CleaningService for your home, office and vehicles</h2>
            <p>We have all kinds of cleaning services <br>
            you can check it out below.</p>     
          </div>
        </div>
</div>
</div>
</div>